html,
body{
}

#rock-btn, #paper-btn, #scissors-btn{
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: blue;
    color: white;
    border: none;
    font-weight: bolder;
}

#shoot-button{
    padding: 20px;
    background-color: green;
    color: white;
    border: none;
    font-weight: bolder;
}
#restart-button{
    margin-left: 20px;
    padding: 20px;
    background-color: green;
    color: white;
    border: none;
    font-weight: bolder;
}
#next-button{
    margin-left: 20px;
    padding: 20px;
    background-color: green;
    color: white;
    border: none;
    font-weight: bolder;
}
